@font-face {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}


html {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  position: relative;
}

a,
a:link,
a:visited,
a:active {
	text-decoration: none;
	color: #000;
	cursor: pointer !important;
}

a:hover {
	cursor: pointer !important;
}

body {
	padding: 0;
	margin: 0;
	text-align: left;
	-webkit-font-smoothing: antialiased;
	position:relative;
	height: auto;
  background-repeat: repeat;
}

#main {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-size: 208px;
	font-weight: 600;
	line-height: 1.05em;
	padding: 55px 85px 0 85px;
	width: calc(100% - 170px);
	height: auto;
	z-index: 5;
	position: relative;
	letter-spacing: -0.02em;
}

#main a:link,
#main a:visited,
#main a:active {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	color:#999;
}

#main a:hover {
	text-decoration: line-through;
  color:#ce0000;
}

.work {
	position: relative;
	width: 100%;
	margin: -30px 0 50px 0;
}

.work img {
	height: auto;
	max-height: calc(100% - 250px);
	position: absolute;
	top:0;
	left: -30%;
	right:0;
	bottom: 16%;
	margin: auto;
	display: block;
	z-index: 1;
}

.work h1,
.work h2,
.work h3 {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	position: absolute;
	width: 100%;
	margin: 0;
	padding:0;
	bottom: 85px;
	right: 90px;
	display: block;
	text-align: right;
	letter-spacing: -0.03em;
	/*	border: 1px solid #fff;*/
	z-index: 2;
	line-height: 0.80em;
}

.work h3 {
	bottom: 60px;
}

#about {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 90px;
  font-weight: 600;
  line-height: 1.05em;
  padding: 55px 85px;
  z-index: 10;
  position: relative;
  letter-spacing: -0.02em;
}

@media (min-width: 70px) {
  #about {
    float: right;
    right: auto;
  }
}

@media (min-width: 200px) and (max-width: 700px) {
  #about {
  	padding: 55px 85px 20px 85px;
  }
}

.imageBox {
    position: relative;
    float: right;
}
.imageBox .hoverImg {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.imageBox:hover .hoverImg {
    display: block;
}

.imageBox img {
  padding-top: 10px;
  width: 65%;
}

#work_blurb {
	width: calc(100% - 160px);
	padding: 0 80px;
	height: auto;
	background-color: #fff;
	z-index: 5;
	position: relative;
	margin-top: 60px;
}


#work_blurb a:link,
#work_blurb a:visited,
#work_blurb a:active {
	color: #777;
}

#work_blurb a:hover {
	text-decoration:line-through;
}

#work_blurb img {
	display: block;
	width: auto;
	max-width:100%;
	min-width:100%;
	max-height: none;
	position: relative;
	margin: 0 0 30px 0;
	padding:0;
	left: auto;
}

#photocred {
  font-size: 12px;
}

#photocred a:hover {
  text-decoration: underline;
  color:#ce0000;
}

/*-----------------------------------------------------------
    Typography
-------------------------------------------------------------*/

body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 34px;
  font-weight: 600;
}

h3 {
  font-size: 22px;
  font-weight: 500;
}

h4 {
  font-size: 20px;
  font-weight: 400;
}

h5 {
  font-size: 18px;
  font-weight: 300;
}

h6 {
  font-size: 16px;
  font-weight: 300;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 1px;
  color: #848484;
  margin-bottom: 20px;
}
